
/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */
/* Quicksand Font from Google - https://fonts.google.com/specimen/Quicksand */

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.skip a{
    padding: 5px;
    position: absolute;
    top: -65px;
    margin: auto;
    color:#000000;
    background-color: white;
    font-weight: bold;
}

.skip a:focus{
    top: 25px;
}

body{
    background-color: #faebd7;
    font-family: "Quicksand", sans-serif;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    background-color: #800080;
    list-style-type: none;
    padding: 2%;
    overflow: hidden;
}

nav ul li{
    padding: 10px;
    font-weight: 600;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

a:visited{
    color:#B5B8F2;
}

main{
    line-height: 1.5em;
}

.header{
    font-size: 1.5em;
    margin: 1%;
    text-align: center;
}

.header p{
    
}

.menu{
    /* margin: 10px; */
    width: 80%;
}

button:focus {
    border: 10px solid #008000;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 30%;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #006596;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tab-button.active {
    border-bottom: 2px solid #000;
    background-color: #B5BEC8;
    /* try finding a different background color */
}

.tab-content {
    display: none;
    margin-top: 20px;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tab-content.active {
    display: block;
}

.buy, .make, .thrift, .swap, .borrow, .use{
    padding: 10%;
    color:#ffffff;
}

.buy{
    /* background-color: #ff5a5a; */
    background-color: #E26352;
}

.make{
    background-color: #AA8630;
}

.thrift{
    background-color: #409D44;
}

.swap{
     background-color: #1993D0;
}
.borrow{
    background-color: #7A82E4;
}

.use{
    background-color: #8B8B8B;
}

footer{
    background-color: #800080;
    color: #ffffff;
    padding:2%;
}
@media screen and (min-width: 800px){

    .container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 3%;
    }

    .header{
        grid-column: 1/span 2;
        grid-row: 1/span 1;
        text-align: center;
    }
    .menu{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
    .content{
        grid-column: 2/span 1;
        grid-row: 2/span 1;
    }
    .footer{
        grid-column: 1/ span -1;
        grid-row: 3/span 1;
    }

    .tabs{
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        /* grid-template-rows: repeat(6, 1fr); */
    }

    /* .buy{
        width: 100px;
        height: 100px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
        /* three pairs of (x, y) cordinates, where (0, 0) is the top left of page
        (top, bottom left, bottom right) */
    /* } */

    /* .make{
        width: 175px;
        clip-path: polygon(0% 100%, 20% 0%, 80% 0%, 100% 100%);
    }

    .thrift{
        width: 250px;
        clip-path: polygon(0% 100%, 15% 0%, 85% 0%, 100% 100%);
    }

    .swap{
        width: 350px;
        clip-path: polygon(0% 100%, 10% 0%, 90% 0%, 100% 100%);
    }

    .borrow{
        width: 475px;
        clip-path: polygon(0% 100%, 7% 0%, 93% 0%, 100% 100%);
    }

    .use {
        width: 575px;
        clip-path: polygon(0% 100%, 6% 0%, 94% 0%, 100% 100%);
    } */
/* Don't use this method, try to make the interactive heigharcy another way */
}